body{
    background-color: #E5EEEE;
}

.contact__wrapper{
    width: 400px;
    height: 496px;
    background-image: url("../img/back.png");
    box-shadow: 0 25px 20px rgba(2, 41, 120, 0.91);
    opacity: 0.91;
    
    background-size: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

input, button, label {
    float: left;
    
}

.contact__wrap {
    width: 261px;
    
}

.contact__form {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    text-align: center;
}

.contact__button{
    width: 261px;
    height: 42px;
    background-color: #23ae92;
    border: none;
    font-family: 'Quicksand', sans-serif;
    color: #fbf6e4;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    margin-top: 32px;
    letter-spacing: 1.0px;
    
}

.contact__input{
    width: 254px;
    height: 32px;
    border: 2px solid rgba(191, 185, 204, 0.54);
    background: transparent;
    outline: none;
    
    
}

label {
    color: #fbf6e4;
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 11px;
    letter-spacing: 1.4px;
    text-align: justify;
    
}

input{
    margin-bottom: 19px;
}

/* Customize the label (the container) */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    /* width: fit-content; */
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    margin-top: 2px;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: #23ae92;
    pointer-events: visible;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #2196F3;
  }

  /* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 5px;
  top: 2px;
  width: 4px;
  height: 7px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

label.container {
    font-family: 'Quicksand', sans-serif;
    font-size: 12px;
    font-weight: 700;
    padding-top: 4px;
    padding-left: 24px;
    letter-spacing: 0.9px;
    text-align: justify;
    
    
}

.contact__tabs {
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
    
}

.contact__tab {
    color: #e1c2f1;
    margin-left: 0px;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    border: none;
    outline: none;
    padding: 0px 0px 3px 0px;
    background-color: transparent;
    letter-spacing: 1.8px;
    border-bottom: 2px solid transparent;
}

.contact__tab:hover {
    color: #fbf6e4;
    border-bottom: 2px solid #e66a64;
}

.contact__sign {
    text-decoration: none;
    color: inherit;
    margin-right: 25px;
    
    
}

.contact__join {
    text-decoration: none;
    color: inherit;
    
}


.contact__acc {
    display: flex;
    justify-content: space-between;
    margin-top: 28px;
    
}

.contact__account {
    color: rgb(185, 185, 204);
    font-family: 'Quicksand', sans-serif;
    font-size: 13px;
    font-weight: 400;
    background-color: transparent;
    border: none;
    padding: 0 0 3px 0;
    cursor: pointer;
    letter-spacing: 0.6px;
    border-bottom: 2px solid rgba(150,193,218, 0.15);
}

.contact__forgot {
    text-decoration: none;
    color: inherit;
    /*margin-right: 30px;*/
    
    
}

.contact__create {
    text-decoration: none;
    color: inherit;
    

    
}

.contact__account:hover {
    color: white;
    border-bottom: 2px solid rgba(150,193,218, 1);
}


